.txtSize7{
  font-size: 0.4375rem;
}
.txtSize8{
  font-size: 0.5rem;
}
.txtSize9{
  font-size: 0.5625rem;
}
.txtSize10{
  font-size: 0.625rem;
}
.txtSize11{
  font-size: 0.6875rem;
}
.txtSize12{
  font-size: 0.75rem;
}
.txtSize13{
  font-size: 0.8125rem;
}
.txtSize14{
  font-size: 0.875rem;
}
.txtSize15{
  font-size: 0.9375rem;
}
.txtSize16{
  font-size: 1rem;
}
.txtSize17{
  font-size: 1.0625rem;
}
.txtSize18{
  font-size: 1.125rem;
}
.txtSize19{
  font-size: 1.1875rem;
}
.txtSize20{
  font-size: 1.25rem;
}
.txtSize21{
  font-size: 1.3125rem;
}
.txtSize22{
  font-size: 1.375rem;
}
.txtSize23{
  font-size: 1.4375rem;
}
.txtSize24{
  font-size: 1.5rem;
}
.txtSize25{
  font-size: 1.5625rem;
}
.txtSize26{
  font-size: 1.625rem;
}
.txtSize27{
  font-size: 1.6875rem;
}
.txtSize28{
  font-size: 1.75rem;
}
.txtSize29{
  font-size: 1.8125rem;
}
.txtSize30{
  font-size: 1.875rem;
}
.txtSize31{
  font-size: 1.9375rem;
}
.txtSize32{
  font-size: 2rem;
}
.txtSize33{
  font-size: 2.0625rem;
}
.txtSize34{
  font-size: 2.125rem;
}
.txtSize35{
  font-size: 2.1875rem;
}
