<ng-container>
  <div class="d-flex align-items-center single-item-header">
    <a class="back-to-list" routerLink="/sales">Volver al listado</a>
    <div class="search-sidebar">
      <div class="d-flex align-items-center" *ngIf="iMeliItemCategory">
          <span *ngFor="let category of iMeliItemCategory?.path_from_root; let last = last"
                class="name">
            <!--(click)="searchByCategory(category)"-->
            <a class="name-item mb-0">{{category.name}}</a>
            <i *ngIf="!last" class="fas fa-angle-right icon-may"></i>
          </span>
      </div>
    </div>
  </div>
  <div class="single-item-container">
    <ng-container *ngIf="iMeliSingleItem">
      <app-single-item-desk [iMeliSingleItem]="iMeliSingleItem">
      </app-single-item-desk>
    </ng-container>
    <h4>Item</h4>
    <div>{{iMeliSingleItem | json}}</div>
    <h4>First item</h4>
    <div>{{meliModelService.searchMeliData$.value?.results[0] | json}}</div>
    <h4>Category</h4>
    <div>{{iMeliItemCategory | json}}</div>
  </div>
</ng-container>
