<form>
  <div>
    <!--<div class="new-component">
      <div class="switch-container">
        <label class="form-check-label mb-0">Llegan mañana</label>
        <div class="mb-0 form-check form-switch">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>-->
    <div class="new-component">
      <div class="switch-container">
        <div>
          <label class="form-check-label mb-0">
            <app-full-icon></app-full-icon>
            te ahorra envíos</label>
          <label class="mb-0 sub-title">Con tu carrito de compras</label>
        </div>
        <div class="mb-0 form-check form-switch">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>
    <div class="new-component">
      <div class="switch-container align-items-center">
        <label class="form-check-label mb-0">Envío gratis</label>
        <div class="mb-0 form-check form-switch">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>
    <div class="filter-items-component">
    <ng-container *ngIf="(meliModelService.searchMeliData$ | async) as meliSearch">
      <ng-container *ngFor="let filter of meliSearch.available_filters">
        <app-filter-item [filter]="filter"></app-filter-item>
      </ng-container>
    </ng-container>
    </div>
  </div>
</form>
