@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";

.global-nav{
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.header-margin{
  padding: 0px !important;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 45px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  fill: #00000099;
  width: 80px;
}


/*.nav__link--active{
  color: #009578;
}*/

svg{
  width: 24px !important;
  height: 24px !important;
}

.linkdin-logo{
  width: 34px !important;
  height: 34px !important;
}

.nav__link:hover{
  fill: #000000e6;
  cursor:pointer;
  color: #000000e6;
}
