@import 'src/assets/baseStyles/variable';

.popup-general-container {
  max-width: 744px;
  width: calc(100vw - 10px);

  .popup-header {
    display: flex;
    padding: 10px 16px 10px 24px;
    align-items: center;

    .popup-title {
      font-weight: 400;
      line-height: 28px;
      font-size: 20px;
      margin: 0;
      word-break: break-word;
      -webkit-font-smoothing: antialiased;
    }

    .close-button {
      margin-left: auto;
      height: 40px;
      width: 40px;
      background: none;
      min-width: auto;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.6);
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

  }

  .popup-content {
    padding: 8px 24px 16px 24px;
  }

  /*.popup-content, .popup-actions{
    padding: 10px;
  }*/
}

.popup-actions {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px 24px;
}

.header-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.action-button {
  font-weight: 600 !important;
  font-size: 16px !important;
}
