<!--<app-filter-item [filter]="priceType"></app-filter-item>-->
<div class="filter-item-component switch-container">
  <div class="filter-title">{{priceType.name}}</div>
  <ul class="filter-ul">
    <li class="search-filter-container" *ngFor="let value of priceType.values">
      <ng-container>
        <div class="pointer-text" (click)="setPriceType(value)">
          <span class="filter-subtitle"
                [ngClass]="priceTypeModelService.priceType$?.value?.name === value.name ? 'selected-value' : ''">{{value.name}}</span>
        </div>
      </ng-container>
    </li>
  </ul>
</div>
