<div class="search-toolbar">
  <ul class="search-toolbar-actions">
    <li *ngIf="isSales" class="search-toolbar-action" (click)="orderMobile('')">
      <a class="search-link"><i class="fas fa-exchange-alt order-icon search-toolbar-icon"></i>Ordenar</a>
    </li>
    <li class="search-toolbar-action" (click)="priceTypeMobile('')">
      <a class="search-link"><i class="fas fa-dollar-sign search-toolbar-icon"></i>T. precio</a>
    </li>
    <li *ngIf="isSales" class="search-toolbar-action-filter" (click)="filtersMobile('')">
      <a class="search-link"><i class="fas fa-filter search-toolbar-icon"></i> Filtrar</a>
    </li>
  </ul>
</div>
