@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';


.search-toolbar{
  border-bottom: 1px solid rgba(0,0,0,.07);
  background-color: #fff;
}

.search-toolbar-actions{
  align-content: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 4px;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  color: #3483fa;
}

.search-toolbar-action-filter{
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  cursor: pointer;
}

.search-toolbar-action:after {
  content: "";
  position: absolute;
  bottom: 16px;
  height: 20px;
  right: 0;
  border-right: 1px solid #ddd;
}


.search-link{
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 52px;
  justify-content: center;
  font-weight: 400;

  a{
    color: #3483fa;
    transition: color .2s ease-in-out;
  }
}

.order-icon{
  transform: scale(-1, 1) rotate(90deg);
}

.search-toolbar-icon{
  margin-right: 8px;
}

.search-toolbar-action {
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  cursor: pointer;
}

.search-toolbar-action-filter{
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  cursor: pointer;
}

.search-toolbar-action:after {
  content: "";
  position: absolute;
  bottom: 16px;
  height: 20px;
  right: 0;
  border-right: 1px solid #ddd;
}

@media (min-width: 992px) {
  .container-search-title, .search-toolbar, .selected-filter {
    display: none;
  }
}
