<div class="vw-100 vh-100">
  <div class="modal-header">
    <i class="fas fa-arrow-left return-arrow" routerLink="/sales" (click)="modal.close(false)"></i>
    <h3 class="order-title">Filtrar por</h3>
  </div>
  <div class="modal-body pb-3">
    <ul class="actions-order">
      <li>
        <div class="action-item" *ngIf="canFullSend || fullSend" (click)="setFullSend()">
          <div>
            <label class="form-check-label mb-0">
              <app-full-icon></app-full-icon>
              te ahorra envíos</label>
            <label class="mb-0 sub-title">Con tu carrito de compras</label>
          </div>
          <div class="mb-0 form-check form-switch">
            <input class="form-check-input" type="checkbox" [(ngModel)]="fullSend" name="something" [value]="fullSend"
                   [disabled]="buttonFullSend">
          </div>
        </div>
      </li>
      <li>
        <div class="action-item" *ngIf="canFreeSend || freeSend" (click)="setFreeSend()">
          <label class="form-check-label mb-0">Envío gratis</label>
          <div class="mb-0 form-check form-switch">
            <input class="form-check-input" type="checkbox" [(ngModel)]="freeSend" name="free" [value]="freeSend"
                   [disabled]="buttonFreeSend">
          </div>
        </div>
      </li>

      <li *ngFor="let filter of filters">
        <app-item-filter-mobile [filter]="filter" (closeModalEvent)="closeModal($event)"></app-item-filter-mobile>
        <!--<a class="action-item">{{filter.name}}
          <span class="icon-container"> <i class="arrow-icon fas fa-angle-down"></i> </span></a>
        <ul class="filter-options">
          <li class="title-option" *ngFor="let options of filter.values">
            <a (click)="addFilter(options, filter)" >{{options.name}}</a>
          </li>
        </ul>-->
      </li>
    </ul>
  </div>
</div>
