@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";

.nav{
  z-index: 997;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 2px;
  justify-content: space-around;
  height: 48px;
  display: flex;
  background-color: $bgc-white;
  overflow-x: auto;
  box-shadow: 0 -1px 0 $border-color;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //flex-grow: 1;
  width: 20%;
  min-height: 45px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  fill: #00000099;
}

.nav__link:hover{
  background-color: #C0E8F864;
}

/*.nav__link--active{
  color: #009578;
}*/

svg{
  width: 24px !important;
  height: 24px !important;
}

.nav__link:hover{
  fill: #000000e6;
  color: #000000e6;
}

.active {
  border-bottom: 2px solid #191919;
  content: '';
  transform: scaleX(1);
  transition: border-bottom-color 0.5s ease-in-out;
  //max-width: 80px;
  fill: #000000e6;
}
