<nav class="nav">
  <a href="#" class="nav__link nav__link--active">
    <img src="/assets/icons/home.svg" alt="home" class="nav__icon"/>
    <div class="txtSize11">Inicio</div>
  </a>
  <a href="#" class="nav__link">
    <img src="/assets/icons/linkedin.svg" alt="linkedin" class="nav__icon"/>
    <div class="txtSize11">LinkedIn</div>
  </a>
  <a href="#" class="nav__link">
    <img src="/assets/icons/insight.svg" alt="metricas" class="nav__icon"/>
    <div class="txtSize11">Metricas</div>
  </a>
  <a href="#" class="nav__link">
    <img src="/assets/icons/salary.svg" alt="compras" class="nav__icon"/>
    <div class="txtSize11">Compras</div>
  </a>
  <a href="#" class="nav__link">
    <img src="/assets/icons/form.svg" alt="formulario" class="nav__icon"/>
    <div class="txtSize11">Formulario</div>
  </a>
</nav>
