<ng-container>
  <app-sales-meli-header></app-sales-meli-header>
  <h1 class="py-3 pt-5 mx-1">Carrito</h1>
  <a routerLink="/sales">
    <button>regresar</button>
  </a>

  <ng-container *ngIf="(meliModelService.searchMeliData$ | async) as meli">
    <ng-container *ngIf="!meli.classified">
      <div *ngFor="let item of meli?.results; let first = first ;let last = last" class="general-font-family">
        <div class="meli-card" [ngClass]="first ? 'item-first' : last ? 'item-last' : ''">
          <app-sales-item [resultsEntity]="item"></app-sales-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="meli.classified">
      <div class="row mx-0">
        <div *ngFor="let item of meli?.results; let first = first ;let last = last"
             class="general-font-family col-sm-6 col-lg-4 px-0">
          <div class="meli-card-classified"
               [ngClass]="first ? 'item-first' : last ? 'item-last' : ''">
            <app-sales-item-classified [resultsEntity]="item"></app-sales-item-classified>
          </div>
        </div>
      </div>
    </ng-container>
    <app-sales-paginator></app-sales-paginator>
  </ng-container>
</ng-container>
