<ng-container>
  <app-sales-meli-header></app-sales-meli-header>
  <div class="container">
    <h1 class="py-3 pt-5 mx-1">Favoritos</h1>
    <a routerLink="/sales">
      <i class="my-3 ml-3 fas fa-arrow-left return-arrow"></i>
    </a>
    <ng-container *ngIf="(favouritesModelService.favouritesMeliData$ | async) as meli">
      <h4 class="mb-3" *ngIf="meli.totalSum">Monto total {{meli.totalSum | thousandsPipe}} $</h4>
      <div *ngFor="let item of meli?.meliFavouriteItem; let first = first ;let last = last" class="general-font-family">
        <div class="meli-card" [ngClass]="first ? 'item-first' : last ? 'item-last' : ''">
          <app-sales-item [resultsEntity]="item.body" [typeItem]="'favourite'" [opinions]="true"></app-sales-item>
        </div>
      </div>
      <!--<app-sales-paginator></app-sales-paginator>-->
    </ng-container>
  </div>
</ng-container>
