@import "colorPalette";
@import "fonts/fontsXL";
@import "variable";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';

.ln-card {
  border-radius: 0.8rem;
  background-color: $bgc-white;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
}

.meli-card{
  background-color: $bgc-white;
  border-bottom: 1px solid #eee;
  padding: 20px 50px 20px 0;
}

.font-weight-300{
  font-weight: 300;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-700{
  font-weight: 700;
}

.font-weight-800{
  font-weight: 800;
}


@media (min-width: 576px) {
  .container {

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
}
