
.color-white{
  color: #FFFFFF;
}

.color-black{
  color: #000000;
}

.txtBlack{
  color: rgba(0,0,0,0.9);
  //line-height: 20px;
}

.color-red-error {
  color: #d11124;
}

.gray-color{
  color: #333;
}
