<div class="d-flex flex-wrap justify-content-center">
  <div>
    <div style="width: 260px; height: 360px" echarts [options]="_chartOption">
    </div>
    <div>
      <button class="primary-button w-100" (click)="startImg()">
        {{!isPercent ? 'Cambiar a porcentaje' : 'Cambiar a años'}}
      </button>
    </div>
  </div>
  <div class="col px-0">
    <label class="d-block txtSize14 mb-0 txtBlack font-weight-600">INFORMACIÓN</label>
    <hr class="line">
    <label class="d-block txtSize14 mb-0 txtBlack"> <span class="font-weight-600"> Edad actual:</span> {{age}} </label>
    <label class="d-block txtSize14 mb-0 txtBlack"> <span class="font-weight-600"> Jubilacion:</span> {{retirement}} </label>
    <label class="d-block txtSize14 mb-0 txtBlack"> <span class="font-weight-600"> Esperanza de vida:</span> {{expectedAge?.toFixed(2)}}</label>
    <!--<p> Edad actua completa: {{completedAge}}</p>-->
    <label class="d-block txtSize14 mb-0 txtBlack"> <span class="font-weight-600">Edad actual completa:</span>  {{completedAgeNew}}</label>
    <!--<button (click)="showme()">Show me</button>-->
  </div>
</div>
