<div class="d-flex flex-wrap">
  <div>
    <div style="width: 260px; height: 360px" echarts [options]="_chartOption">
    </div>
    <div>
      <button class="primary-button w-100" (click)="startImg()">
        {{isPercent ? 'Cambiar a porcentaje' : 'Cambiar a entero'}}
      </button>
    </div>
  </div>
  <div>
    <p> Edad actual: {{age}} </p>
    <p> Jubilacion: {{retirement}} </p>
    <p> Esperanza de vida: {{expectedAge?.toFixed(2)}}</p>
    <p> Edad actua completa: {{completedAge}}</p>
    <button (click)="showme()">Show me</button>
  </div>
</div>
