<div class="meli-header-container">
  <div class="container px-0 padding-top-2">
    <div class="d-flex">
      <div class="d-flex">
        <i class="fas fa-map-marker-alt city-icon"></i>
        <div class="zip-code-container" (click)="openModal('')">
          <span class="send-to">Enviar a</span>
          <span class="city-to-send" *ngIf="(meliModelService.zipCodeData$ | async) as meli">
            {{meli.state.name}} {{meli.zip_code}}
          </span>
        </div>
      </div>
      <div class="right-icons">
        <div>
          <i class="fas fa-heart heart-icon"></i>
        </div>
        <div>
          <i class="fas fa-shopping-cart market-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
