<div class="mb-3">
  <!--<input [(ngModel)]="years">
  <button (click)="clickBuildNextYears()"> Arrancar </button>-->
  <div class="echart-life-container">
    <ng-container *ngIf="(echartModelService.chartOption$ | async) as chartOption">
      <div class="ln-card" echarts [options]="chartOption">
      </div>
    </ng-container>
  </div>
  <app-sub-text>
    <p first class="footer-text">
      <i class="sub-text-icon fas fa-exclamation-circle"></i>
      <a class="link-data"
         [triggers]="'hover'" [ngbPopover]="'Ver fuente'"
         [href]="'https://datosmacro.expansion.com/demografia/esperanza-vida/argentina'"
         target="_blank"> Datos pertenecientes al territorio Argentino desde 1.960 al 2.019</a>
      , los años siguientes son proyecciones calculadas acorde a los valores anteriores.
    </p>
  </app-sub-text>
</div>
