<div class="meli-header-container">
  <div class="container px-0 padding-top-2 h-100">
    <div class="d-flex h-100">
      <div class="zip-desk">
        <div class="d-flex">
          <i class="fas fa-map-marker-alt city-icon"></i>
          <div class="zip-code-container" (click)="openModal('')">
            <span class="send-to">Enviar a</span>
            <span class="city-to-send" *ngIf="(meliModelService.zipCodeData$ | async) as meli">
            {{meli.state.name}} {{meli.state.name === 'Capital Federal' ? '' :meli.zip_code}}
          </span>
          </div>
        </div>
      </div>
      <div class="zip-mob">
        <div class="d-flex">
          <div routerLink="/sales/zipcode">
            <i class="fas fa-map-marker-alt city-icon-mob"></i>
          </div>
        </div>
      </div>
      <div class="search-container mx-1">
        <input class="search" placeholder="Buscar productos" [(ngModel)]="search" (keydown.enter)="$event.target.blur();keyPress();false" type="text">
        <div class="search-icon-ln">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M14.56 12.44L11.3 9.18a5.51 5.51 0 10-2.12 2.12l3.26 3.26a1.5 1.5 0 102.12-2.12zM3 6.5A3.5 3.5 0 116.5 10 3.5 3.5 0 013 6.5z"
              fill="#00000099"></path>
          </svg>
        </div>
      </div>
      <div class="right-icons">
        <div>
          <a routerLink="/sales/favourites">
            <i class="fas fa-heart heart-icon"></i>
          </a>
        </div>
        <!--<div>
          <a routerLink="/sales/cart">
            <i class="fas fa-shopping-cart market-icon"></i>
          </a>
        </div>-->
      </div>
    </div>
  </div>
</div>
