<div *ngIf="resultsEntity as meli">
  <div class="search-toolbar">
    <ul class="search-toolbar-actions">
      <li class="search-toolbar-action" (click)="orderByMobile('')">
        <a class="search-link"><i class="fas fa-exchange-alt order-icon search-toolbar-icon"></i>Ordenar</a>
      </li>
      <li class="search-toolbar-action-filter">
        <a class="search-link"><i class="fas fa-filter search-toolbar-icon"></i> Filtrar</a>
      </li>
    </ul>
  </div>
  <div class="container-search-title">
    <h4 class="text-capitalize search-title">{{meli.query}}</h4>
  </div>
  <div class="mx-1">
    <!--<div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>-->
    <div class="category-order-by mb-3">
      <label *ngFor="let category of meli?.filters[0]?.values[0]?.path_from_root; let last = last"
             class="name mb-0">
        <label class="name-item mb-0" (click)="searchByCategory(category.id)">{{category.name}}</label>
        <i *ngIf="!last" class="fas fa-angle-right icon-may"></i>
      </label>
      <span class="order-by-button">
        <span class="order-text">Ordenar por</span>
        <span ngbDropdown>
				<label ngbDropdownToggle class="mb-0 order-button"> {{labelText}}</label>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton dropdown-menu-lg-end ">
          <li><a class="dropdown-item"
                 [ngClass]="orderName === 'relevance' ? 'active' : ''"
                 (click)="orderBy('relevance')">Más relevantes</a></li>
          <li><a class="dropdown-item"
                 [ngClass]="orderName === 'price_asc' ? 'active' : ''"
                 (click)="orderBy('price_asc')">Menor precio</a></li>
          <li><a class="dropdown-item"
                 [ngClass]="orderName === 'price_desc' ? 'active' : ''"
                 (click)="orderBy('price_desc')">Mayor precio</a></li>
        </ul>
        </span>
      </span>
    </div>
  </div>
  <div class="d-flex">
    <div class="search-sidebar">
      <h4 class="text-capitalize item-query">{{meli.query}}</h4>
      <label class="result-count">{{meli.paging.total | thousandsPipe}} resultados</label>
    </div>
    <div class="d-block w-100">
      <ng-container *ngIf="(meliModelService.searchMeliData$ | async) as meli">
        <ng-container *ngIf="!meli.classified">
          <div *ngFor="let item of meli?.results; let first = first ;let last = last" class="general-font-family">
            <div class="meli-card" [ngClass]="first ? 'item-first' : last ? 'item-last' : ''">
              <app-sales-item [resultsEntity]="item" [typeItem]="'search'" [opinions]="true"></app-sales-item>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="meli.classified">
          <div class="row mx-0">
            <div *ngFor="let item of meli?.results; let first = first ;let last = last"
                 class="general-font-family col-sm-6 col-lg-4 px-0">
              <div class="meli-card-classified"
                   [ngClass]="first ? 'item-first' : last ? 'item-last' : ''">
                <app-sales-item-classified [resultsEntity]="item"></app-sales-item-classified>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <!--<app-search-items-group></app-search-items-group>-->
</div>
