@import "src/assets/baseStyles/baseStyles";

.primary-col{
  width: 100%;
}

.secondary-col{
  max-width: 325px;
  min-width: 325px;
}

.figure-image{
  height: 100%;
  margin: 40px 0 0;
  background-color: #fff;
  min-height: 500px;
  padding: 16px;
  width: 410px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.item-image{
  cursor: zoom-in;
  height: auto;
  object-fit: contain;
  width: auto;
  max-width: 100%;
  max-height: 468px;
}
