<div class="card img-size mb-3" *ngIf="casaModelService.currentDollar$ | async as currentDollar">
  <img class="card-img-top" src="assets/images/dolar.jpg">
  <div class="card-body">
    <div>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="d-grid">
          <label class="d-block txtSize14 mb-0 txtBlack">
            <label class=" font-weight-600">DOLAR</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial compra:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialCompra}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial venta:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialVenta}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial promedio:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialProm}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue compra:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueCompra}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue venta:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueVenta}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue promedio:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueProm}}$</label>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card img-size mb-3" *ngIf="casaModelService.currentDollar$ | async as currentDollar">
  <img class="card-img-top" src="assets/images/peso.jpg">
  <div class="card-body">
    <div>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="d-grid">
          <label class="d-block txtSize14 mb-0 txtBlack">
            <label class=" font-weight-600">DOLAR</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial compra:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialCompra}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial venta:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialVenta}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Oficial promedio:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.oficialProm}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue compra:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueCompra}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue venta:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueVenta}}$</label>
          </label>
          <label class="d-block txtSize14 mb-0 txtBlack"> Blue promedio:
            <label class="float-end ml-2 mb-0 font-weight-600">{{currentDollar.blueProm}}$</label>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
