<ng-container>
  <h5> Complete el siguiente formulario </h5>
  <form [formGroup]="form" (ngSubmit)="save($event)">

    <div class="mt-2">
      <p class="input__label txtSize14">Fecha de nacimiento </p>
      <input class="form-control" type="date" formControlName="birthday">
    </div>
    <div *ngIf="form.get('birthday').errors && form.get('birthday').touched">
      <p class="color-red-error txtSize14"
         *ngIf="form.get('birthday').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <div class="mt-2">
      <p class="input__label txtSize14">Genero</p>
      <div class="ln-card p-2">
        <input type="radio" name="gender" formControlName="gender" value="0"> Masculino<br>
        <input type="radio" name="gender" formControlName="gender" value="1"> Femenino<br>
        <input type="radio" name="gender" formControlName="gender" value="2" checked> Otro

        <div *ngIf="form.get('gender').errors && form.get('gender').touched">
          <p class="color-red-error txtSize14"
             *ngIf="form.get('gender').hasError('required')">
            Es un campo requerido
          </p>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <p class="input__label txtSize14">Tipo de moneda</p>
      <div class="ln-card p-2">
        <input type="radio" name="isDollar" formControlName="isDollar" value="false"> Peso argentino<br>
        <input type="radio" name="isDollar" formControlName="isDollar" value="true"> Dolar

        <div *ngIf="form.get('isDollar').errors && form.get('isDollar').touched">
          <p class="color-red-error txtSize14"
             *ngIf="form.get('isDollar').hasError('required')">
            Es un campo requerido
          </p>
        </div>
      </div>
    </div>


    <div class="mt-2">
      <p class="input__label txtSize14">Horas diarias</p>
      <input class="form-control" type="number" name="weeklyHours" formControlName="weeklyHours">
    </div>
    <div *ngIf="form.get('weeklyHours').errors && form.get('weeklyHours').touched">
      <p class="color-red-error txtSize14"
         *ngIf="form.get('weeklyHours').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <div class="mt-2">
      <p class="input__label txtSize14">Ingresos</p>
      <div class="ln-card p-2">
        <input type="radio" name="isDepenRelationship" formControlName="isDepenRelationship"
               value="true"> Con aguinaldo<br>
        <input type="radio" name="isDepenRelationship" formControlName="isDepenRelationship"
               value="false"> Sin aguinaldo
        <p class="input__label txtSize14">Monto</p>
        <input class="form-control" type="number" name="salary" formControlName="salary">
        <div *ngIf="form.get('isDepenRelationship').errors && form.get('isDepenRelationship').touched
            || form.get('salary').errors && form.get('salary').touched">
          <p class="color-red-error txtSize14"
             *ngIf="form.get('isDepenRelationship').hasError('required') ||
              form.get('salary').hasError('required')">
            Es un campo requerido
          </p>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <p class="input__label txtSize14">Capacidad de ahorro</p>
      <div class="ln-card p-2">
        <input type="radio" name="isPercent" formControlName="isPercent"
               value="true"> Porcentaje<br>
        <input type="radio" name="isPercent" formControlName="isPercent"
               value="false"> Entero
        <p class="input__label txtSize14">Monto</p>
        <input class="form-control" type="number" name="savingCapacity" formControlName="savingCapacity">
        <div *ngIf="(form.get('savingCapacity').errors && form.get('savingCapacity').touched) ||
          (form.get('isPercent').errors && form.get('isPercent').touched)">
          <p class="color-red-error txtSize14"
             *ngIf="form.get('savingCapacity').hasError('required') ||
                form.get('isPercent').hasError('required')">
            Es un campo requerido
          </p>
        </div>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mt-3 w-100 mb-3" [disabled]="this.form.invalid">Confirmar</button>
    </div>
  </form>
</ng-container>
