<ng-container>
  <form [formGroup]="form" (ngSubmit)="save($event)">
    <p>Fecha de nacimiento: <br/>
      <input class="form-control" type="date" formControlName="birthday">
    </p>
    <div *ngIf="form.get('birthday').errors && form.get('birthday').touched">
      <p *ngIf="form.get('birthday').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <p>Genero: <br/>
      <input type="radio" name="gender" formControlName="gender" value="0"> Masculino<br>
      <input type="radio" name="gender" formControlName="gender" value="1"> Femenino<br>
      <input type="radio" name="gender" formControlName="gender" value="2" checked> Otro
    </p>
    <div *ngIf="form.get('gender').errors && form.get('gender').touched">
      <p *ngIf="form.get('gender').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <p>Tipo de moneda: <br/>
      <input type="radio" name="isDolar" formControlName="isDolar" [value]="false"> Peso argentino<br>
      <input type="radio" name="isDolar" formControlName="isDolar" [value]="true"> Dolar<br>
    </p>
    <div *ngIf="form.get('isDolar').errors && form.get('isDolar').touched">
      <p *ngIf="form.get('isDolar').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <p>Ingresos: <br/>
      <input type="number" name="salary" formControlName="salary">
    </p>
    <div *ngIf="form.get('salary').errors && form.get('salary').touched">
      <p *ngIf="form.get('salary').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <p>Horas semanales: <br/>
      <input type="number" name="weeklyHours" formControlName="weeklyHours">
    </p>
    <div *ngIf="form.get('weeklyHours').errors && form.get('weeklyHours').touched">
      <p *ngIf="form.get('weeklyHours').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <div class="form-check">
    <p>Aguinaldo <br/>

      <input class="form-check-input" type="radio" name="isDepenRelationship" formControlName="isDepenRelationship" [value]="true"> Con aguinaldo<br>
      <input class="form-check-input" type="radio" name="isDepenRelationship" formControlName="isDepenRelationship" [value]="false"> sin aguinaldo<br>
    </p>
    </div>

    <div *ngIf="form.get('isDepenRelationship').errors && form.get('isDepenRelationship').touched">
      <p *ngIf="form.get('isDepenRelationship').hasError('required')">
        Es un campo requerido
      </p>
    </div>

    <button type="submit">Guardar</button>

  </form>
</ng-container>
