@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";

/*.main-container{
  !*  background-color: $bgc;
    min-height: 100vh; *!
  padding-bottom: 15px;
  //min-height: calc(100vh - 53px);
}*/


@media (max-width: 991px) {
  .header {
    display: none;
  }
  .main-container {
    /*  background-color: $bgc;
      min-height: 100vh; */
    padding-bottom: 48px;
    //min-height: calc(100vh - 53px);
  }

  .router-outlet {
    overflow-y: auto;
    height: calc(100vh - 48px);
    overflow-x: hidden;
  }
}

@media (min-width: 992px) {
  .bottom-nav-bar {
    display: none;
  }
}
