@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";


.main-container{
  background-color: $bgc;
/*  min-height: 100vh;
  padding-bottom: 10px;*/
  //min-height: calc(100vh - 53px);
}

/*--scaffold-layout-none-max-width: 576px;
--scaffold-layout-md-max-width: 720px;
--scaffold-layout-lg-max-width: 960px;
--scaffold-layout-xl-max-width: 1128px;

.contain*/

/*.media-breakpoint-up-sm { .container1 {max-width: 576px !important;} }
.media-breakpoint-up-md { .container1 {max-width: 720px !important;} }
.media-breakpoint-up-lg { .container1 {max-width: 960px !important;} }
.media-breakpoint-up-xl {  .container1 {max-width: 1128px !important;} }*/
