<div class="mb-4 item-container">
  <div class="img-container">
    <div [ngClass]="resultsEntity.isFavourite ? 'heart-icon-active' : ''">
      <div class="heart-container"  (click)="activeFavorites(resultsEntity.id)">
        <i class="fas fa-heart heart-icon"></i>
      </div>
      <img *ngIf="!isCarousel" class="image-size" [src]="resultsEntity.pictures[0]" width="284" height="213"
           (click)="activeCarousel(resultsEntity.id)"
           alt="{{resultsEntity.title}}">
      <ng-container *ngIf="isCarousel">
        <ngb-carousel *ngIf="resultsEntity.pictures as images" [interval]="0" [animation]="false">
          <ng-container *ngFor="let image of images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="image-size" [src]="image || resultsEntity.thumbnail" width="284" height="213"
                     alt="{{image}}">
              </div>
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </ng-container>
    </div>
    <div class="description">
      <div class="description-container">
        <div>
      <span class="item-price mb-0" *ngIf="priceTypeModelService.priceType$.value.id === 'standar'">
        {{typeOfCurrency}}
        {{currentPrice | thousandsPipe}}
      </span>
          <!--[triggers]="'hover'"-->
          <span
                [triggers]="'hover'"
                (mouseover)="overPriceTypeService.setPriceTypeMouseOver(resultsEntity?.priceAndType?.price, resultsEntity.id)"
                (click)="overPriceTypeService.setPriceTypeMouseOver(resultsEntity?.priceAndType?.price, resultsEntity.id)"
                [ngbPopover]="resultsEntity.timeRequired"
                class="item-price mb-0" *ngIf="priceTypeModelService.priceType$.value.id !== 'standar'">
            {{priceTypeModelService?.priceType$?.value?.display_currency}}
            {{resultsEntity?.priceAndType?.price}}
      </span>
        </div>
        <div *ngIf="surface !== ''" class="surface-house">
          <span>{{surface}}</span>
        </div>
        <div *ngIf="attributesCar !== ''" class="surface-house">
          <span>{{attributesCar | thousandsPipe}}</span>
        </div>
        <div *ngIf="operationPropertyType !== ''" class="operationType-house">
          <span>{{operationPropertyType}} </span>
        </div>
        <div [routerLink]="['/sales/item', resultsEntity.id]" *ngIf="resultsEntity.title !== ''" class="title-house">
          <span>{{resultsEntity.title}} </span>
        </div>
        <div *ngIf="location !== '' " class="location-house">
          <span>{{location}} </span>
        </div>
        <div *ngIf="locationCar && !(location !== '')" class="location-house">
          <span>{{locationCar}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
