@import "../../../assets/baseStyles/baseStyles";
@import "../../../assets/baseStyles/variable";
@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import '../../../../node_modules/material-icons/iconfont/material-icons';


.item-title {
  color: #333;
  border-collapse: collapse;
  cursor: pointer;
  display: block;
  text-align: left;
  text-decoration-thickness: auto;
}

.item-price {
  color: #333;
  display: -webkit-flex;
  display: flex;
  font-size: 24px;
  font-weight: 400;
}

:host ::ng-deep .popover-body {
  background: #1f4e96;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  text-align: center;
  width: min-content;
}

:host ::ng-deep .bs-popover-top .arrow::after {
  border-top-color: #1f4e96;
}

.item-old-price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through
}

.image-size {
  height: 100%;
  width: 100%;
  min-height: 284px;
  max-height: 284px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}

.img-container {
  margin: 0 8px;

  &:hover {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%);

    .heart-container {
      background: hsla(0, 0%, 100%, .7);

      &:hover {
        .heart-icon {
          -webkit-text-stroke: 1px #1f4e96;
        }
      }
    }

    .heart-icon {
      -webkit-text-stroke: 1px #3483fa;
    }
  }
}


.heart-container {
  width: 36px;
  height: 36px;
  display: inline-flex;
  font-size: 22px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 25px;
  top: 16px;
  z-index: 2;
  border-radius: 50%;
}

.image-size img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.seller-name {
  color: #666;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
}

.surface-house {
  color: #333;
  display: -webkit-flex;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin-right: 4px;
  margin-top: -6px;
  margin-bottom: 14px;
}

.operationType-house {
  color: #333;
  margin-bottom: 2px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin-top: -2px;
}

.title-house {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 16px;
  cursor: pointer;
  overflow: hidden;
  max-height: 36px;
  text-overflow: Ellipsis;
  //white-space: nowrap;
}

.location-house {
  max-height: none;
  display: -webkit-box;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  margin-top: -1px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.description-container {
  border-radius: 0 0 6px 6px;
  padding: 16px;
  background-color: #ffffff;
}

.heart-icon {
  font-size: 18px;
  -webkit-text-stroke: 1px transparent;
  color: transparent;
  cursor: pointer;
  height: 18px;
}

.heart-icon-active {
  .heart-container {
    background: hsla(0, 0%, 100%, .7);

    &:hover {
      .heart-icon {
        -webkit-text-stroke: 1px #1f4e96;
        color: #1f4e96;
      }
    }
  }

  .heart-icon {
    -webkit-text-stroke: 1px #3483fa;
    color: #3483fa;
  }
}

//box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%);

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (max-width: 991px) {
  .image-size {
    /*    width: 120px;
        height: 120px;
        object-fit: contain;*/
  }

  .item-title {
    font-size: 14px;
  }

  .item-price {
    font-size: 20px;
  }

  .heart-container {
    background: hsla(0, 0%, 100%, .7);
  }
  .heart-icon {
    -webkit-text-stroke: 1px #1f4e96;
  }
}

