<div class="d-flex flex-wrap justify-content-around">
  <app-card-metric-info class="d-flex user-metrics-container" [cardInfo]="income"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container" [cardInfo]="incomeUsdByTime"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container" [cardInfo]="oficialProm"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container" [cardInfo]="blueProm"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container" [cardInfo]="savingCapacityIncome"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container"
                        [cardInfo]="savingCapacityIncomeUsdByTime"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container"
                        [cardInfo]="savingCapacityOficialProm"></app-card-metric-info>
  <app-card-metric-info class="d-flex user-metrics-container"
                        [cardInfo]="savingCapacityBlueProm"></app-card-metric-info>
</div>


<!-- PARA CALCULAR FERIADOS FUERON 14 NACIONALES EN DIAS LABORALES  Y 15 DIAS LABORALES DE VACACIONES = 29
(365/7) * 5 = 260.7 dias de semana
261 - 29 = 232 dias trabajados
365 - 232 = 133 dias sin trabajar
-->
