<ng-container *ngIf="(meliModelService.selectedFilters$ | async) as selectedFilters">
  <ng-container *ngIf="selectedFilters.length >0">
    <div>
      <ng-container *ngFor="let selectedFilter of selectedFilters">
        <div class="tag-container" (click)="removeSelectedFilter(selectedFilter.id)"
             *ngIf="selectedFilter.values[0].id!== 'fulfillment' && selectedFilter.values[0].id!== 'free'">
          <span class="tag-name">{{selectedFilter.values[0].name}}</span>
          <i class="fas fa-times tag-close"></i>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
