<div class="ln-card d-grid d-f card-metric-container">
  <label class="d-block txtSize14 mb-0 txtBlack">
    <label class=" font-weight-600">{{cardInfo?.leftTitle}}</label>
    <label class="float-end ml-2 mb-0 font-weight-600">{{cardInfo?.rightTitle}}</label>
  </label>
  <label *ngFor="let subtitleItem of cardInfo?.subtitleItems"
         class="d-block txtSize14 mb-0 txtBlack"> {{subtitleItem?.leftSubtitle}}
    <label
      class="float-end ml-2 mb-0 font-weight-600">{{subtitleItem?.rightSubtitle}}{{subtitleItem?.typeOfCurrency}}</label>
  </label>
  <div class="more-info">
    <hr class="line">
    <label *ngIf="moreInfo" class="txtSize14 txtBlack">{{cardInfo?.description}}</label>
    <button class="primary-button w-100" (click)="showMoreInfo()"> mas info </button>
  </div>
</div>
