@import "../../../../../assets/baseStyles/baseStyles";

.card-metric-container {
  width: 290px;
  padding: 16px;
  margin: 0 4px 16px;
}

@media (max-width: 991px) {
  .card-metric-container {
    width: calc(33vw - 13px);
  }
}

@media (max-width: 767px) {
  .card-metric-container {
    width: calc(50vw - 19px);
  }
}

@media (max-width: 575px) {
  .card-metric-container {
    width: calc(100vw - 8px);
  }
}



