<div class="ln-card p-3 d-grid mb-3 mx-1 d-f" style="width: 290px">
  <label class="d-block txtSize14 mb-0 txtBlack">
    <label class=" font-weight-600">{{cardInfo?.leftTitle}}</label>
    <label class="float-end ml-2 mb-0 font-weight-600">{{cardInfo?.rightTitle}}</label>
  </label>
  <label *ngFor="let subtitleItem of cardInfo?.subtitleItems"
         class="d-block txtSize14 mb-0 txtBlack"> {{subtitleItem?.leftSubtitle}}
    <label
      class="float-end ml-2 mb-0 font-weight-600">{{subtitleItem?.rightSubtitle}}{{subtitleItem?.typeOfCurrency}}</label>
  </label>
  <div class="more-info">
    <hr class="line">
    <label *ngIf="moreInfo">{{cardInfo?.description}}</label>
    <div class="primary-button" (click)="showMoreInfo()"> mas info </div>
  </div>
</div>
