<div class="container">
  <h1 class="py-3">Metrics</h1>
  <ng-container *ngIf="(casaModelService.currentDollar$ | async) as currentDollar">
    <ng-container *ngIf="currentDollar.oficialProm !== undefined">
      <div class="d-flex">
      <app-current-dolar [dollarInfo]="currentDollar"></app-current-dolar>
       <div class="ln-card col p-3 mx-1 mb-3">
         <app-expected-time-remaining></app-expected-time-remaining>
       </div>
      </div>
    </ng-container>
  </ng-container>
  <app-echart-life-time></app-echart-life-time>
  <ng-container *ngIf="userDataModelService.userData$ | async as userData">
    <ng-container *ngIf="(casaModelService.currentDollar$ | async) as currentDollar">
      <ng-container *ngIf="currentDollar.oficialProm !== undefined && userData.dailyHours !== undefined">
        <app-user-metrics [dollarInfo]="currentDollar"></app-user-metrics>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
