@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';
@import "src/assets/baseStyles/baseStyles";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #f3f2ef !important;
  //background-color: #f5f5f5 !important;
  z-index: 10000;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
