<app-first-image-title></app-first-image-title>
<div class="container">
  <h1>¿Que es <b>time of the things</b>?</h1>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque eos esse,
    exercitationem ipsum modi, molestias nemo, numquam quasi quidem quisquam rem repellendus rerum saepe sunt tenetur
    vero? Hic, sunt!</label>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem, dignissimos
    illo mollitia necessitatibus nisi nulla pariatur placeat porro quam. Est magni quibusdam saepe temporibus? Deserunt
    exercitationem labore mollitia rem. </label>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis dicta ipsum
    modi porro voluptatibus. Ab deleniti fugiat neque repellendus, totam voluptas. Ea modi molestias numquam officia
    quasi quidem similique.</label>

  <h1 class="mt-4">¿De donde surge <b>time of the things</b>?</h1>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque eos esse,
    exercitationem ipsum modi, molestias nemo, numquam quasi quidem quisquam rem repellendus rerum saepe sunt tenetur
    vero? Hic, sunt!</label>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem, dignissimos
    illo mollitia necessitatibus nisi nulla pariatur placeat porro quam. Est magni quibusdam saepe temporibus? Deserunt
    exercitationem labore mollitia rem. </label>
  <label class="txtSize18 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis dicta ipsum
    modi porro voluptatibus. Ab deleniti fugiat neque repellendus, totam voluptas. Ea modi molestias numquam officia
    quasi quidem similique.</label>
</div>
