@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";

.time-img-container{
  position: absolute;
  left: 0;
  width: 100vw;
  display: flex;
}

.time-img{
  width: auto;
  max-height: 470px;
  height: auto;
  margin: auto;
}

.dashboard-carousel{
  margin: auto;
}
