<header>
  <section class="container textos-header pl-3">
    <h1>Tiempo de las cosas</h1>
    <h2 class="w-50">Te ayudamos a que conozcas el valor de tu tiempo, y el precio de lo que pagas.</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none"
         style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #f3f2ef;"></path>
    </svg>
  </div>
</header>
<main class="container">
<!--  <iframe class="first-video" src="https://www.youtube.com/embed/t2ar6XIcVgs">
  </iframe>-->
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro producto</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="assets/img/ilustracion2.svg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span>Conoce el precio de lo que pagas</h3>
        <p>Conoce el precio de los productos brindados por la plataforma de mercado libre ya sea en pesos, dolares,
          porcentaje de tus ingresos, en tiempo de tus ingresos, tiempo de tus ingresos acorde a tu capacidad de ahorro
          y tiempo en horas seguidas de tu trabajo.</p>
        <h3><span>2</span>Estima tu esperanza de vida</h3>
        <p>Estima la esperanza de vida que tendras acorde a tu genero y fecha de nacimiento tambien los
          ingresos que te quedan disponible acorde a tus ingresos actuales y el tiempo restante para que te jubiles.</p>
        <h3><span>3</span>Calcula el tiempo necesario</h3>
        <p>Tiempo necesario para adquirir propiedades, automotores y muebles que te gustaria tener dependiendo de tus
          ingresos y capacidad de ahorro.</p>
      </div>
    </div>
  </section>
  <!--<section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Portafolio</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="assets/img/img1.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img2.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img3.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img1.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img4.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img5.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img6.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets/img/img7.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!--<section class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img src="assets/img/face1.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/face2.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
        </div>
      </div>
    </div>
  </section>-->
  <!--<section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="assets/img/ilustracion1.svg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
        </div>
        <div class="servicio-ind">
          <img src="assets/img/ilustracion4.svg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
        </div>
        <div class="servicio-ind">
          <img src="assets/img/ilustracion3.svg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
        </div>
      </div>
    </div>
  </section>-->
</main>
<footer>
  <div class="invert-wave" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none"
         style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #f3f2ef;"></path>
    </svg>
  </div>
  <div class="mt-5 pt-5 pb-5 footer d-flex text-center">
    <div class="container">
      <div class="row mx-0">
        <div class="col-lg-4 col-xs-12 about-company mb-3">
          <h2>¡Gracias!</h2>
          <p class="text-white">Muchas gracias, por haber pasado por aqui.</p>
          <!-- IR TOP -->
          <!--<p class="mb-0"><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a>
          </p>-->
        </div>
        <div class="col-lg-2 col-xs-12 links mb-3">
          <h4 class="mt-lg-0 mt-sm-4">Links</h4>
          <ul class="m-0 p-0">
            <!--<li>- <a href="https://github.com/evcvera" target="_blank">GitHub</a></li>-->
            <li>- <a href="https://www.linkedin.com/in/vera-celiz-ernesto/" target="_blank">Linkedin</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-xs-12 location mb-3">
          <h4 class="mt-lg-0 mt-sm-4">Ubicación</h4>
          <p>Córdoba, Argentina.</p>
          <!--<p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>-->
          <!--<p><i class="fa fa-envelope-o"></i>ernesto.vera.celiz@gmail.com</p>-->
        </div>
        <div class="col-lg-3 col-xs-12 location mb-3">
          <h4 class="mt-lg-0 mt-sm-4">Contacto</h4>
          <a class="text-decoration-none color-white"
             href="mailto:ernesto.vera.celiz@gmail.com?subject = Feedback&body = Message">
            ernesto.vera.celiz@gmail.com
          </a>
        </div>
      </div>
      <div class="row mx-0 mt-5">
        <div class="col copyright">
          <p class="text-center  text-white font-weight-500">2022 | Ernesto Vera Celiz</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>Phone</h4>
      <p>8296312</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>8296312</p>
    </div>
    <div class="content-foo">
      <h4>Location</h4>
      <p>8296312</p>
    </div>
  </div>
  <h2 class="titulo-final">&copy; EvC | Vera Céliz Ernesto</h2>
</footer>-->
