@import "colorPalette";
@import "fonts/fontsXL";
@import "inputStyles";
@import "variable";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';
@import "cardStyles";

.general-font-family {
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ln-card {
  border-radius: 0.8rem;
  background-color: $bgc-white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.meli-card {
  background-color: $bgc-white;
  border-bottom: 1px solid #eee;
  padding: 20px 16px 20px 0;
}

.modal-dialog-zipcode{
  height: 100vh;
}

.primary-button {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;

  font-size: 14px;
  line-height: 32px;
  padding: 0 12px;
  height: 32px;
  border-radius: 5px;


  border-color: transparent;
  background-color: #3483fa;
  color: #fff;
  font-weight: 600;

  transition: box-shadow .25s ease-out, background-color .2s ease-out;
  box-shadow: 0 0 0 0 #fff;

  &:hover {
    border-color: transparent;
    background-color: #1f4e96;
    color: #fff;
  }
}

.modal-dialog{
  margin: auto !important;
  max-width: fit-content !important;

  .modal-content{
    border: 0 solid;
  }
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}


@media (min-width: 576px) {
  .container {

  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
  .container {
    max-width: 768px;
    padding: 0;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) {
  .container {
    //max-width: 992px;
    max-width: calc(100% - 5px);
    padding: 0;
  }
  .meli-card {
    padding: 16px 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: calc(100% - 6px);
    padding: 0;
  }
  .meli-card {
    padding: 16px 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1194px;
    padding: 0;
  }
}
