@import 'material-icons/iconfont/material-icons.scss';

$bgc: #f3f2ef;
$bgc-white: #FFFFFF;
$border-button: #0a66c2;
$color-topic-primary: #006d92;
$color-primary: #fbb03c;

//My styles
$border-color: rgba(0,0,0,0.08);


form {
  background-color: white;
}

.white {
  background-color: white;
}

.white-color{
  color: white;
}

.material-icons {
  float: right;
  color: rgb(194, 183, 183);
  font-size: 22px;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.88);
  pointer-events: none;
}

