@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";

.search {
  border: 1px transparent;
  box-shadow: none;
  border-radius: 3px;
  line-height: 1.75;
  font-weight: 400;
  font-size: 14px;
  height: 34px;
  background-color: #FFFFFF;
  color: #000000e6;
  padding: 0 8px 0 40px;
  width: 280px;
  transition:  0.3s ease-in-out;
}

.search:focus{
  outline: none;
  //width: 384px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 16px;
  //padding-left: 56px;
}



.search-container{
  display: block;
}

.search-icon-ln{
  padding: 8px 8px 8px 16px;
  width: 40px;
  position: relative;
  bottom: 34px;
  z-index: 1;
  border-radius: 0 2px 2px 0;
  height: 34px;
  margin: 0;
  box-shadow: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .15s;
}

