@import "src/assets/baseStyles/baseStyles";
@import "src/assets/baseStyles/variable";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';

.modal-header {
  padding: 34px 32px 0;
  border-bottom: 0;
}

.modal-content {
  width: 100vw;
  height: 100vh;
}

.modal-body {
  padding: 0 32px 32px;
}

.subtitle-zip {
  color: rgba(0, 0, 0, .45);
  line-height: 1.38;
  margin: 8px 0 24px;
  font-weight: 400;
  font-size: 14px;
}

.modal-zipcode-input {
  margin-right: 12px;
  width: 256px;
}

.title-zip {
  font-weight: 600;
  line-height: 1;
  margin: 0;
  font-size: 20px;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8) !important;
  -webkit-tap-highlight-colorrgba: (0, 0, 0, 0.18);
}

.modal-close-icon {
  font-size: 20px;
  color: #3483fa;
  cursor: pointer;

  &:hover {
    color: #1e6dff;
  }
}

.zip-code {
  padding: 8px 16px 0 0;
  margin-bottom: 18px;
  height: 68px;
  display: flex;
  align-items: center;
}

.zip-code-input-desk {
  padding: 15px 0 0 0 !important;
  margin: 0 !important;
  width: 256px !important;
}


.modal-idk-zipcode {
  border: 2px solid #00000000;
  margin: 0 0 0 12px;
  padding: 6px 12px;
  font-size: 14px;
  color: #3483fa;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    border: 2px solid #00000000;
    background-color: rgba(65, 137, 230, .2);
    color: #3483fa;
    transition: background-color .2s ease-in;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
  }

  &:active {
    border: 2px solid #1f4e9666;
  }
}

.modal-error-txt {
  color: #f04449;
  font-weight: 600;
  opacity: 1;
  font-size: 14px;
  line-height: 1em;
  margin-top: .3333333333em;
  transition: opacity .15s ease-out;
  text-align: left;
  min-height: 14px;
  position: absolute;
}

.meli-zipcode-button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 24px;
  width: 100px;

  font-size: 14px;
  line-height: 32px;
  padding: 0 12px;
  height: 32px;
  border-radius: 5px;


  border-color: transparent;
  background-color: #3483fa;
  color: #fff;
  font-weight: 600;

  transition: box-shadow .25s ease-out, background-color .2s ease-out;
  box-shadow: 0 0 0 0 #fff;

  &:hover {
    border-color: transparent;
    background-color: #1f4e96;
    color: #fff;
  }

}

@media (max-width: 991px) {
  .modal-content {
    min-width: 100vw;
    min-height: 100vh;
  }
}

