<div class="zip-code-mcontainer">
  <i class="fas fa-arrow-left return-arrow" routerLink="/sales"></i>
  <h1 class="title-zipcode ">Elegí dónde recibir tus compras</h1>
  <p class="subtitle-zipcode">Podrás ver costos y tiempos de entrega precisos en todo lo que busques.</p>
  <div>
    <div class="input-meli">
      <div class="form">
        <label class="lbl-nombre">
          <span class="text-nomb">Ingresar un código postal</span>
        </label>
      </div>
    </div>
  </div>
  <button class="meli-zipcode-button"><span>Usar</span></button>
  <a [href]="'https://www6.oca.com.ar/BuscadorCP/'" target="_blank" style="text-decoration: none">
    <label class="modal-idk-zipcode mb-0">No sé mi código</label>
  </a>
</div>
