<ng-container *ngIf="(meliModelService.searchMeliData$ | async) as meli">
  <div class="search-sidebar">
    <div class="category-order-by">
      <span *ngFor="let category of meli?.filters[0]?.values[0]?.path_from_root; let last = last"
            class="name mb-0">
        <span class="name-item mb-0" (click)="searchByCategory(category)">{{category.name}}</span>
        <i *ngIf="!last" class="fas fa-angle-right icon-may"></i>
      </span>
    </div>
    <h4 class="text-capitalize item-query">{{meli.query}}</h4>
    <label class="result-count">{{meli.paging.total | thousandsPipe}} resultados</label>
    <div class="filter-group">
      <app-meli-filters></app-meli-filters>
    </div>
  </div>
</ng-container>
